/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */
:root {
    --Text-Color: #2b2b2b;
    --Primary-Color: #357b70;
    --Secondary-Color: #e0b354;
    --Visited-Color: #05676e;
    --Active-Color: #489c79;
    --Grid-bg-Color: LightGrey;
    --White: white;
    --Border-Color:rgba(0, 0, 0, 0.3);

    --Sun-0:#edc655;
    --Sun-50: #fcffad;    
    --Sun-100: #f76414;
    
    --big-font-weight: 700px;
}


 * {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
  /* Sets the font size to 16px */
    line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

header{
    font-size: large;
    line-height: normal;
}

.page-header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.page-logo{
    height: 80px;
}

.page-header__item {
    flex: 0 1 100px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}


/* Grid fallback*/

.grid__item {
    display: inline-block;
    width: 33%;
}

/* Styling CSS grid*/

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid__item {
    background-color: var(--Grid-bg-olor);
    padding: 10px;
    /* Set width to auto*/
    width: auto;
}

.grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

footer{
    font-size: small;
    line-height: normal;
}


h1 {
    font-size: 30px;
    font-weight: var(--big-font-weight);
}

h2 {
    font-size: 24px;
    font-weight: var(--big-font-weight);
}

h3 {
    font-size: 18px;
    font-weight: var(--big-font-weight);
}

a {
    color: var(--Primary-Color);
}

a:visited {
    /* visited link */
    color: var(--Visited-Color);
}

a:hover, a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* selected link */
    color: var(--Active-Color);
}

.button, button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--Primary-Color);
    color: var(--White);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid var(--Border-Color);
    transition: 0.2s opacity;
}

.button:visited{
    color: var(--White);
}

button:hover, button:focus, .button:hover, .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--Secondary-Color);
    color: var(--Text-Color)
}

.navigation-list__item--active {
    text-decoration: none;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    margin-right: 40px;
    width: 220px;
    border-radius: 50%;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media all and (max-width: 500px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
    }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    h1 {
        font-size: 22px;
    }
}

section{
    padding: 20px;
}

.work-div {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.work-div ul {
    padding: 0px;
    list-style-type: none;
}

.work-div table {
    margin: auto;
}

@keyframes color-change {
    0% {
        fill: var(--Sun-0);
    }
    50% {
        fill: var(--Sun-50);
    }
    100% {
        fill: var(--Sun-100);
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }
    to {
        transform: translate(100px, 48px);
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

.form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-div form{
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-div form .input-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}


.form-div label{
    width: fit-content;

}   

.form-div input{
    width: 140px;
}

.link-list .link {
    margin-right: 3px;
}
.link-list .link:last-child{
    margin-right: unset;
}